@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}



/* HEADER */

header{
    margin-bottom: 0;
}
.tool-bar{
    display: flex;
    background-color: #333333;
    color: white;
    justify-content: center;
    border-bottom: 3px solid #595959;
}
.tool-bar-items{
    position: absolute;
    left: 0px;
}
.tool-bar-items ul{
    display: flex;
    list-style: none;
}
.tool-bar-items a{
    color: #acacac;
    text-decoration: none;
    margin-left: 20px;
}
.tool-bar-items a:hover{
    color: white;
    margin-left: 20px;
}

.nav-bar{
    background-color: #4C4C4C;
    padding-top: 2px;
    height: 55px;
}
.nav-items ul{
    margin-top: 10px;
    display: flex;
    list-style: none;
}
.nav-items ul li  {
    display: flex;
    margin-top: -.8em;
    align-items: stretch; 
}
.nav-items a{
    color: #acacac;
    text-decoration: none;
    margin-left: 20px;
}
.nav-items a:hover{
    color: white;
    margin-left: 20px;
}
.nav-items ul li button{
    border: none;
    padding-top: 1em;
    padding-bottom: .8em;
    padding-right: 2em;
    display: flex;
    background-color: #4C4C4C;

}
.nav-items ul li  :hover {
    cursor: pointer;
    background-color: #333333;
}
.nav-items i{
    font-size: 25px;
    margin-left: 20px;
}
#delete.active{
    background-color: #333333;
}



/* BODY */

main{
    display: flex;
    height: 70vh;
}
/* .drop{
    padding-top: 20px;
    border: 2px solid #ffffff;
    background-color: #ffffff;
   
    display: flex;
    flex-direction: column;
    overflow: scroll;
    align-items: center;
} */
.drop{
    overflow: scroll;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-rows: repeat(auto, 1fr); */
    background-color: whitesmoke;
    justify-items: center;
    justify-content: center;
    gap: 0px;
}
.dropzone {
    background-color: whitesmoke;
    height: 50px;
    width: 100%;
    /* border: #cccccc solid 1px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropzone.over {
    border: #cccccc solid 1px;
    background-color: hsla(0, 0%, 0%, 0.1);
  }
.cards{
    background-color: #4C4C4C;
    border-top: 3px solid #595959;
    border-bottom: 3px solid #595959;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-left: 30px;
    padding-right: 40px;
}

.dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 14px;
    border: 2px solid black;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content .connector {
    padding: 10px;
    width: 120px;
    height: 120px;
  }
  
  .dropdown-content .connector :hover {background-color: #cccccc}
  
  .dropdown:hover .dropdown-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .dropdown:hover .dropbtn {
    background-color: #cccccc;
  }

/* .side-bar-items ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}
.side-bar-items ul li{
    display: flex;
    margin-right: 20px;
}
.side-bar-items ul li .shapes{
    display: flex;
    text-decoration: none;
    color: white;
    padding: 20px;
}
.side-bar-items ul li .shapes img{
    height: 80px;
    width: 80px;
}
.side-bar-items ul li .shapes button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    margin-left: 20px;
    border: none;
    background-color: transparent;
    font-family: poppins;
    font-size: 16px;
    color: #ffffff;
}
.side-bar-items ul li :hover{
    background-color: #333333;
    border-radius: 1rem;
    cursor: pointer;
} */


/* FOOTER */

footer{
    background-color: #4C4C4C;
    color: white;
    padding-bottom: 20px;
}
.output-bar{
    display: flex;
    justify-content: space-between;
}
.output-bar p{
    margin-left: 50px;
}
.output-bar-items{
    display: flex;
    margin-right: 55px; 
    align-items: center;
}
.gear{
    font-size: 30px;
    background-color: #4C4C4C;
    border: none;
    color: white;
}
.stop{
    background-color: #89888F;
    border: none;
    border-radius: 5rem;
    color: white;
    padding: 10px 20px;
}
.run{
    background-color: #89888F;
    border: none;
    border-radius: 5rem;
    color: white;
    padding: 10px 20px;
    margin-right: 10px;
}

.output-window{
    background-color: white;
    height: 80px;
    margin: 0px 50px;
    overflow: scroll;
}
.output-window p.success{
    color: green;
    margin-left: 20px;
}
.output-window p.warning{
    color: #f5c71a;
    margin-left: 20px;
}
.output-window p.error{
    color: red;
    margin-left: 20px;
}
.input-bar p{
    margin-left: 50px;
}
.input-window{
    margin-left: 50px;
    margin-right: 50px;
}
form{
    display: flex;
    justify-content: space-between;
}
input[type=text]{
    flex: 5;
    height: 30px;
    /* width: 1000px; */
    margin-right: 25px;
    padding-left: 20px;
}
input[type=submit]{
    flex: 1;
    height: 35px;
}




/* SHAPES STYLE */

#start {
    margin: 5px;
    padding: 20px;
    height: 50px;
    width: 100px;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 40px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    transform: skew(0deg);
}
#input {
    margin: 5px;
    padding: 20px;
    height: 50px;
    width: 150px;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    transform: skew(-20deg);
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
#process {
    margin: 5px;
    padding: 20px;
    height: 50px;
    width: 130px;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    transform: skew(0deg);
}

#decision {
    margin: 5px;
    padding: 20px;
    height: 40px;
    width: 190px;
    background-color: transparent;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    transform: skew(0deg);
    border: 2px solid transparent;
    outline: none;
  }

.decision-box{
    margin: 5px;
    width: 100%;
    background-image: url(./ThesisSVG/Vector\ 1.svg);
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    transform: skew(0deg);
}

  #connector-vertical {
    margin-left: 50%;
    height: 50px;
    width: 30px;
    background-color: transparent;
    outline: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-bottom-style: hidden;
    border-left-style: 2.5px solid black;
}
#connector-horizontal {
    width: 100px;
    margin:0px;
    height: 20px;
    margin-bottom: 25px;
    background-color: transparent;
    outline: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: 2.5px solid black;
}
#connector-down-right {
    margin-top: 50px;
    margin-right: 50%;
    height: 50px;
    width: 30px;
    background-color: transparent;
    outline: none;
    border-top-style:  2.5px solid black;
    border-left-style: hidden;
    border-bottom-style: hidden;
    border-right-style: 2.5px solid black;
}

#connector-down-left {
    margin-right: 0px;
    margin-top: 50px;
    margin-left: 50%;
    height: 50px;
    width: 30px;
    background-color: transparent;
    outline: none;
    border-top-style:  2.5px solid black;
    border-left-style: 2.5px solid black;
    border-bottom-style: hidden;
    border-right-style: hidden;
}

#connector-up-right{
    margin-bottom: 50px;
    margin-right: 50%;
    height: 50px;
    width: 30px;
    background-color: transparent;
    outline: none;
    border-bottom-style:  2.5px solid black;
    border-left-style: hidden;
    border-top-style: hidden;
    border-right-style: 2.5px solid black;
}

#connector-up-left{
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 50%;
    height: 50px;
    width: 30px;
    background-color: transparent;
    outline: none;
    border-bottom-style:  2.5px solid black;
    border-left-style: 2.5px solid black;
    border-top-style: hidden;
    border-right-style: hidden;
}
