@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}



/* HEADER */

header{
    margin-bottom: 0;
}
.tool-bar{
    display: flex;
    background-color: #333333;
    color: white;
    justify-content: center;
    border-bottom: 3px solid #595959;
}
.tool-bar-items{
    position: absolute;
    left: 0px;
}
.tool-bar-items ul{
    display: flex;
    list-style: none;
}
.tool-bar-items a{
    color: #acacac;
    text-decoration: none;
    margin-left: 20px;
}
.tool-bar-items a:hover{
    color: white;
    margin-left: 20px;
    cursor: pointer;
}

.nav-bar{
    background-color: #4C4C4C;
    padding-top: 2px;
    height: 55px;
}
.nav-items ul{
    margin-top: 10px;
    display: flex;
    list-style: none;
}
.nav-items ul li  {
    display: flex;
    margin-top: -.8em;
    align-items: stretch; 
}
.nav-items a{
    color: #acacac;
    text-decoration: none;
    margin-left: 20px;
}
.nav-items a:hover{
    color: white;
    margin-left: 20px;
}
.nav-items ul li button{
    border: none;
    padding-top: 1em;
    padding-bottom: .8em;
    padding-right: 2em;
    display: flex;
    background-color: #4C4C4C;

}
.nav-items ul li  :hover {
    cursor: pointer;
    background-color: #333333;
}
.nav-items i{
    font-size: 25px;
    margin-left: 20px;
}
#arrow.active{
    background-color: #333333;
}
#text.active{
    background-color: #333333;
}
#delete.active{
    background-color: #333333;
}
#zoom{
    color: white;
}



/* BODY */

main{
    display: flex;
    height: 70vh;
}
/* .drop{
    padding-top: 20px;
    border: 2px solid #ffffff;
    background-color: #ffffff;
   
    display: flex;
    flex-direction: column;
    overflow: scroll;
    align-items: center;
} */
.drop{
    overflow: scroll;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-rows: repeat(auto, 1fr); */
    background-color: whitesmoke;
    justify-items: center;
    justify-content: center;
    gap: 0px;
}
.dropzone {
    background-color: whitesmoke;
    height: 100px;
    width: 100%;
    /* border: #cccccc solid 1px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropzone.over {
    border: #cccccc solid 1px;
    background-color: hsla(0, 0%, 0%, 0.1);
  }
.dropzone .active:hover{
    cursor: pointer;
}
.dropzone.selected-grid {
    border: blue solid 1px;
}
.cards{
    background-color: #4C4C4C;
    border-top: 3px solid #595959;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-left: 30px;
    padding-right: 40px;
    overflow-y: auto;
    overflow-x: hidden;
}

.dropdown{
    display: flex;
}

.dropbtn {
    background-color: white;
    color: black;
    font-size: 14px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding-right: 20px;
    padding-left: 20px;
    border-right: white;
    border: black solid 2px;
    border-right: white solid;
    z-index: 1;
    height: 35px;
  }
  
  .arrow-head {
    background-color: white;
    border: black solid 2px;
    height: 30 px;
    width: 30px;
    transform: rotate(-45deg);
    align-items: center;
    justify-content: center;
    margin-left: -13px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content .connector {
    padding: 10px;
    width: 120px;
    height: 120px;
  }
  
  .dropdown:hover .dropdown-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .card .active:hover{
    cursor: pointer;
  }

  

/* .side-bar-items ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}
.side-bar-items ul li{
    display: flex;
    margin-right: 20px;
}
.side-bar-items ul li .shapes{
    display: flex;
    text-decoration: none;
    color: white;
    padding: 20px;
}
.side-bar-items ul li .shapes img{
    height: 80px;
    width: 80px;
}
.side-bar-items ul li .shapes button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    margin-left: 20px;
    border: none;
    background-color: transparent;
    font-family: poppins;
    font-size: 16px;
    color: #ffffff;
}
.side-bar-items ul li :hover{
    background-color: #333333;
    border-radius: 1rem;
    cursor: pointer;
} */


/* FOOTER */

footer{
    background-color: #4C4C4C;
    color: white;
    padding-bottom: 20px;
    border-top: 3px solid #595959;
}
.output-bar{
    display: flex;
    justify-content: space-between;
}
.output-bar p{
    margin-left: 50px;
}
.output-bar-items{
    display: flex;
    margin-right: 55px; 
    align-items: center;
}
.output-bar-items button:hover{
    cursor: pointer;
}
.stop{
    background-color: #89888F;
    border: none;
    border-radius: 5rem;
    color: white;
    padding: 10px 20px;
}
.run{
    background-color: #89888F;
    border: none;
    border-radius: 5rem;
    color: white;
    padding: 10px 20px;
    margin-right: 10px;
}

.output-window{
    background-color: white;
    height: 100px;
    line-height: 0.5;
    margin: 0px 50px;
    overflow: scroll;
}
.output-window p.success{
    color: green;
    margin-left: 20px;
}
.output-window p.warning{
    color: #f5c71a;
    margin-left: 20px;
}
.output-window p.error{
    color: red;
    margin-left: 20px;
}
.output-window p.text{
    color: black;
    margin-left: 20px;
}
.input-bar p{
    margin-left: 50px;
}
.input-window{
    margin-left: 50px;
    margin-right: 50px;
}
form{
    display: flex;
    justify-content: space-between;
}
input[type=text]{
    flex: 5;
    height: 30px;
    /* width: 1000px; */
    margin-right: 25px;
    padding-left: 20px;
}
input[type=submit]{
    flex: 1;
    height: 35px;
    background-color: #89888F;
    border: none;
    border-radius: 2rem;
    color: white;
    cursor: pointer;
}




/* SHAPES STYLE */

#start-end {
    margin: 5px;
    padding: 20px;
    height: 50px;
    width: 100px;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 40px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    transform: skew(0deg);
}
#input-output {
    margin: 5px;
    padding: 20px;
    height: 50px;
    width: 120px;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    transform: skew(-20deg);
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
#process {
    margin: 5px;
    padding: 20px;
    height: 50px;
    width: 130px;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    transform: skew(0deg);
}

#decision {
    margin: 5px;
    padding: 20px;
    background-color: transparent;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    transform: skew(0deg);
    border: 2px solid transparent;
    outline: none;
  }

.decision-box{
    height: 100%;
    width: 100%;
    background-image: url(./ThesisSVG/Vector\ 1.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    transform: skew(0deg);
}



.arrow{
    height: 100%;
    width: 100%;
}
.connector-arrow{
    position: relative;
    text-align: center;
    height: 100%;
    width: 100%;
}
.arrow-text{
  position: relative;
  margin-top: -100px;
  margin-left: 25px;
}
/* .left-up-arrow {
    object-fit: cover;
}
.left-down-arrow{
    object-fit: cover;
}
.left-up{
    object-fit: cover;
}
.left-down{
    object-fit: cover;
}
.right-up-arrow{
    object-fit: cover;
}
.right-down-arrow{
    object-fit: cover;
}
.right-up{
    object-fit: cover;
}
.right-down{
    object-fit: cover;
}
.up-left-arrow{
    object-fit: cover;
}
.up-right-arrow{
    object-fit: cover;
}
.up-left{
    object-fit: cover;
}
.up-right{
    object-fit: cover;
}
.down-left-arrow{
    object-fit: cover;
}
.down-right-arrow{
    object-fit: cover;
}
.down-left{
    object-fit: cover;
}
.down-right{
    object-fit: cover;
}
.right-left-arrow{
    object-fit: cover;
} */
[class*="left"]{
    object-fit: cover;
}
[class*="right"]{
    object-fit: cover;
}
[class*="up"]{
    object-fit: cover;
}
[class*="down"]{
    object-fit: cover;
}




.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    padding-bottom: 50px;
    border: 1px solid #888;
    width: 80%; 
    border-radius: 20px;
  }

  .modal-content#instructions {
    padding-bottom: 150px;
  }

  .modal-content table {
    margin: auto;
    width: 80%;
    border-collapse: collapse;
  }

  .modal h1.title{
    text-align: center;
  }

  h1{
    padding-left: 20px;
  }

  p{
    padding-left: 30px;
  }

  .modal ol{
    padding-left: 60px;
  }

  .modal ul{
    padding-left: 70px;
  }

  .modal h2{
    padding-left: 20px;
    padding-top: 20px;
  }

  table th {
    border: 1px solid #666;
    padding: 10px;
  }

  table td{
    text-align: center;
    border: 1px solid #666;
    padding: 5px;
  }

  table img{
    padding: 3px;
  }

  #chosen button{
    width: 35%;
    height: 50px;
    font-size: 20px;
    color: white;
  }

  #chosen button.true{
    background-color: green;
    border-color: green;
    border-radius: 30px;
    margin: auto;
    margin-left: 10%;
  }

  #chosen button.false{
    background: red;
    border-color: red;
    border-radius: 30px;
    margin: auto;
    margin-right: 10%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .dropbtn.active{
    font-weight: bold;
    color: blue;
  }

  .error-highlight{
    border-color: rgb(255, 0, 0);
    background-color: rgb(236, 177, 177);
  }
